.homepage {
    height: calc(100vh - var(--nav-height) - 2px);
    width: 100vw;
    
  

    display: grid;
    grid-template-rows: 1fr 1fr;

    gap: 32px;

    overflow:hidden;

    place-items: center;
}