:root {
    --picton-blue-50: #eff9ff;
    --picton-blue-100: #dcf0fd;
    --picton-blue-200: #c1e6fc;
    --picton-blue-300: #96d8fa;
    --picton-blue-400: #64c1f6;
    --picton-blue-500: #36a0f0;
    --picton-blue-600: #2b88e5;
    --picton-blue-700: #2272d3;
    --picton-blue-800: #225cab;
    --picton-blue-900: #214e87;
    --picton-blue-950: #193152;
}